{{define "content"}}
      <div class="gw-panel">
        <div class="gw-panel-head"><h3>{{.Data.Heading}}</h3></div>
        <div class="gw-panel-body">
          <div class="gw-empty">{{.Data.Message}}</div>
        </div>
      </div>
{{end}}
